<div id="photos">
<% for(var i=0; i<photos.length; i++) {%>
   <img src="<%= photos[i].url %>" class="insta-image">
<% } %>
</div>

<script type="text/javascript"> 
  var socket = io.connect('/');
  socket.on('photo', function(data){
      console.log(data);
      $('#photos').prepend("<img src='" + data.url + "' class='insta-image' ></img>");
  });

  socket.on('test', function(data){
      console.log(data);
  });
</script>
